.delay1s {
	-webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.delay1_5s {
	-webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.delay2s {
	-webkit-animation-delay: 5s;
    animation-delay: 5s;
}