@import "fonts";
@import "variables";

.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

* {
	box-sizing: border-box;
}

.section-padding {
	padding: 0 $normal-padding;
}

.no-list {
	list-style-type: none;
	padding-left: 0;
}

body {
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
	-webkit-animation: bugfix infinite 1s;  // for menu on the mobile devices
}

.title {
	text-align: center;
	background-color: $basic-color;
	color: white;
	text-transform: capitalize;
	font-weight: 300;
	font-size: 50px;
	&-second {
		text-align: center;
		font-size: 32px;
		font-weight: 300;
	}
}

.location {
	&__content {
		font-weight: 300;
		font-size: 120%;
	}
}

.faq {
	&__question {
		font-weight: 700;
		margin-bottom: 5px;
		font-size: 120%;
	}
	&__answer {
		margin-bottom: 20px;
	}
}

.footer {
	background-color: $basic-color;
	display: block;
	width: 100%;
	height: 50px;
}