.info {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.block {
	background-color: $basic-color;
	display: flex;
	align-items: center;
	color: white;
	width: 40%;
	height: 270px;
	padding: 30px;
	font-size: 24px;
	text-align: center;
}

@media screen and (max-width: 930px) {
	.block {
		font-size: 20px;
	}
}

@media screen and (max-width: 700px) {
	.info {
		flex-direction: column;
	}
	.block {
		margin: 10px;
		width: 90%;
		height: 180px;
	}
}

@media screen and (max-width: 500px) {
	.block{
		height: 270px;
	}
}