@import "fonts";
@import "variables";

@-webkit-keyframes bugfix {
  from { padding: 0; }
  to { padding: 0; }
}

header {
	position: fixed;
	width: 100%;
	background-color: rgba(255,255,255,.6);
	z-index: 1000;
}

.custom-dropdown {
	& input[type=checkbox] {
  		position: absolute;
  		top: -9999px;
  		left: -9999px;
	}
	& label {
  		cursor: pointer;
  		user-select: none;
  		display: none;
	}
}

.menu {
	float: right;
	padding-left: 0;
	&__item {
		display: inline-block;
		margin: 0 10px;
		& a {
			display: inline-block;
			font-size: 24px;
			text-transform: uppercase;
			height: 50px;
			line-height: 50px;
			padding:0 16px;
			background-color: $basic-color;
			color: white;
			text-decoration: none;
			&:hover,
			&.active {
				background-color: $high-color;
				color: black;
			}
		}
		&:hover,
		&.active {
				background-color: $high-color;
				color: black;
		}
	}
}

 @media only screen and (max-width: 820px) {
 	header {
 		height: 50px;
 	}
 	.menu {
 		display: none;
 		width: 100%;
 		padding-left: 0;
 		&__item {
 				margin-left: 0;
 				& a {
 					width: 100%;
 					display: block;
 					border-bottom: 1px solid white;
 				}
 			}
 		}
 	.custom-dropdown {
 		& label {
      		position: relative;
      		display: block;
      		width: 100%;
      		font-family: "fontello";
      		font-size: 30px;
      		color: $basic-color;
			&:after {
        		position: absolute;
        		right: 20px;
        		top: 10px;
        		content: "\e804";
    		}
    		&:hover{
    			color: $high-color;
    		}
    	}
		& input:focus ~ ul {
			margin-top: 45px;
      		display: block;
			> li {
        		width: 100%;
      		}
    	}
 	}
}

@media only screen and (max-width: 1130px) {
	.menu {
		&__item a{
			font-size: 20px;
			height: 40px;
			line-height: 40px;
		}
	}
}

@media only screen and (max-width: 930px) {
	.menu {
		&__item a{
			font-size: 16px;
			height: 30px;
			line-height: 30px;
		}
	}
}
