.organizers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  &__item {
    width: 300px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    &__form {
      margin: 0 auto;
      width: 230px;
      height: 230px;
      border-radius: 50%;
    }
  }
}

@media screen and (max-width: 930px) {
  .organizers {
    &__item {
        width: 250px;
      &__form {
        background-size: 180px 180px;
        width: 180px;
        height: 180px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .organizers {
    &__item {
        width: 100%;
        display: block;
        text-align: left;
      &__form {
        background-size: 150px 150px;
        width: 150px;
        height: 150px;
        float: left;
        margin: 5px 10px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .organizers {
    &__item {
      &__form {
        background-size: 100px 100px;
        width: 100px;
        height: 100px;
      }
    }
  }
}


.Olexandr_Shalakhin {
  background-image: url('../../i/org/Olexandr_Shalakhin.jpg');
}

.Anna_Kurylo {
  background-image: url('../../i/org/Anna_Kurylo.jpg');
}

.Ingvar_Stepanyan {
  background-image: url('../../i/org/Ingvar_Stepanyan.jpeg');
}

.Sviatoslav_Sydorenko {
  background-image: url('../../i/org/Sviatoslav_Sydorenko.jpg');
}

.Olga_Shalakhina {
  background-image: url('../../i/org/Olga_Shalakhina.jpg');
}

.Victoria_Ivanova {
  background-image: url('../../i/org/Victoria_Ivanova.jpg');
}

.Olena_Sovyn {
  background-image: url('../../i/org/Olena_Sovyn.jpg');
}