.social {
	text-align: center;
	padding-left: 0;
	&__item{
		display: inline-block;
		& a {
			display: inline-block;
			font-family: "fontello";
			height: 40px;
			width: 40px;
			line-height: 40px;
			font-size: 24px;
			text-align: center;
			color: white;
			background-color: $basic-color;
			text-decoration: none;
			&:before{
				clear:both;
			}
			&:hover,
			&:active {
				background-color: $high-color;
				color: black;
			}
		}
		&-facebook:before{
			content: "\e801";
		}
		&-twitter:before{
			content: "\e802";
		}
		&-google:before{
			content: "\e803";
		}
		&-vk:before{
			content: "\e800";
		}
	}
}