.social {
	text-align: center;
	padding-left: 0;
	&__item{
		font-family: "fontello";
		display: inline-block;
		height: 40px;
		width: 40px;
		line-height: 40px;
		font-size: 24px;
		text-align: center;
		color: white;
		background-color: $basic-color;
		&:before{
			clear:both;
		}
		&-facebook:before{
			content: "\e801";
		}
		&-twitter:before{
			content: "\e802";
		}
		&-google:before{
			content: "\e803";
		}
		&-vk:before{
			content: "\e800";
		}
		&:hover,
		&.active {
			background-color: $high-color;
			color: black;
		}
	}
}