@import "fonts";
@import "variables";

.section-subscribe {
	width: 100%;
	display: flex;
	justify-content: space-around;
	&__item {
		width: 40%;
	}
}

.subscribe {
	background-color: $high-color;
	text-align: center;
	margin-top: -70px;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-size: 50px;
	line-height: 90px;
	height: 90px;
	width: 40%;
	& a {
		display: inline-block;
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		padding: 0 35px;
		text-decoration: none;
		color: white;
		&:hover {
			background-color: $basic-color;
		}
	}
	&-full{
		width: 80%;
		margin: 0 auto;
		font-size: 30px;
		height: 50px;
		line-height: 50px;
	}
}

@media screen and (max-width: 980px) {
	.subscribe {
		font-size: 40px;
		line-height: 80px;
		margin-top: -60px;
		height: 80px;
	}
}

@media screen and (max-width: 820px) {
	.subscribe {
		font-size: 30px;
		line-height: 70px;
		margin-top: -35px;
		height: 70px;
	}
}

@media screen and (max-width: 670px) {
	.subscribe {
		margin: 10px 0;
		font-size: 30px;
		line-height: 70px;
		margin-top: -35px;
		height: 70px;
		width: 100%;
	}
	.section__item {
		display: none;
	}
}