.table {
	font-size: 1.2rem;
	width: 100%;
	&__row {
		height: 2.5rem;
		&:nth-child(2n+1) {
			background-color: rgba($basic-color, .3);
		}
	}
	&__cell{
		&_time {
			width: 25%;
			padding-left: 1rem;
		}
	}
}