# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Packages
dist
build
eggs
parts
bin
var
sdist
develop-eggs
lib
lib64
*.egg-info/

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# added by webknjaz
.cache/*.cache
src/GDGUkraine/__pycache__/
log/*.log
log/*.log.*
config
config/
config/dev/app.yml
config/prod/app.yml
*.py.bak
.hidden

# Distribution / packaging
.Python
env/
downloads/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
