@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext,latin,cyrillic);

* {
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    right: 0px;
    top: 0;
}

#menu li {
    text-transform: uppercase;
    display: inline-block;
    margin: 0 5px;
    background: blue;
}

#menu ul {
    padding: 0;
    margin-right: 30px;
}

#menu li>a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

#menu li.active>a,
#menu li:hover, 
#menu li.active {
    background: yellow;
    color: black;
}

#promo img {
    float: left;
    margin-left: 20px;
    width: 700px;
    height: 350px;
}

#promo {
    width: 100%;
    height: 540px;
    padding-top: 80px;
    box-shadow: inset rgb(216, 216, 216) 0px 0px 265px, 
                rgb(123, 123, 123) 0px 0px 5px;
    background: rgb(245, 245, 245);
}

#social_buttons a {
    display: inline-block;
    background: blue;
    width: 20px;
    height: 20px;
    margin: 2px;
    padding: 6px;
    color: white;
    text-align: center;

}



