.organizers {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around; }
  .organizers__item {
    padding: 10px 10px;
    width: 25%;
    text-align: center; }
    .organizers__item .center {
      width: 200px;
      margin: auto;
      margin-top: -120px;
      margin-bottom: -75px; }

.hexagon {
  width: 200px;
  height: 400px;
  overflow: hidden;
  visibility: hidden;
  transform: rotate(120deg);
  cursor: pointer; }

.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg); }

.hexagon-in2 {
  width: 100%;
  height: 100%;
  visibility: visible;
  transform: rotate(-60deg);
  background-repeat: no-repeat;
  background-position: 50%; }

.Olexandr_Shalakhin {
  background-image: url('../../i/org/Olexandr_Shalakhin.jpg'); }

.Anna_Kurylo {
  background-image: url('../../i/org/Anna_Kurylo.jpg'); }

.Ingvar_Stepanyan {
  background-image: url('../../i/org/Ingvar_Stepanyan.jpeg'); }

.Sviatoslav_Sydorenko {
  background-image: url('../../i/org/Sviatoslav_Sydorenko.jpg'); }

.Olena_Sovyn {
  background-image: url('../../i/org/Olena_Sovyn.jpg'); }
