@import "animate";
@import "_normalize";
@import "fonts";
@import "variables";

.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

* {
	box-sizing: border-box;
}

section {
	padding-top: 50px !important;
	margin-bottom: -50px;
	&.contacts {
		margin-bottom: 0;
	}
}

.section-padding {
	padding: 0 $normal-padding;
}

.no-list {
	list-style-type: none;
	padding-left: 0;
}

.no-margin {
	margin: 0;
	padding-top: 0px;
}

.hiding{
	opacity:0;
}

.visible{
	opacity:1;
}

body {
	font-family: "Roboto Condensed", Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
	-webkit-animation: bugfix infinite 1s;  // for menu on the mobile devices
}

.button__google-calendar {
	display: inline-block;
	background-color: $basic-color;
	color: white;
	margin-left: 20px;
	width: 250px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	transition: background-color 0.5s ease;
	&__text:before {
		content: "+";
		padding-right: 10px;
	}
	&:hover {
		background-color: $high-color;
	}
}

@media screen and (min-width: 1200px) {
	body {
		width: 1200px;
		margin: 0 auto;
		background-color: white;
		border-left: 1px solid rgb(210,210,210);
		border-right: 1px solid rgb(210,210,210);
	}

	html {
		background-color: rgb(248,248,248);
	}
}

@media screen and (max-width: 600px) {
	body {
		font-size: 14px;
	}
}

@media screen and (max-width: 350px) {
	body {
		font-size: 12px;
	}
}

.title {
	text-align: center;
	background-color: $basic-color;
	color: white;
	text-transform: capitalize;
	font-weight: 300;
	font-size: 50px;
	padding: 0 10px;
	&-second {
		text-align: center;
		font-size: 32px;
		font-weight: 300;
	}
}

@media screen and (max-width: 700px) {
	.title {
		font-size: 40px;
		&-second {
			font-size: 24px;
		}
	}
}

@media screen and (max-width: 500px) {
	.title {
		font-size: 32px;
		&-second {
			font-size: 22px;
		}
	}
}

@meda screen and (max-width: 400px) {
	.title {
		font-size: 28px;
	}
}

.button {
	display: block;
	background-color: $high-color;
	text-align: center;
	color: white;
	text-decoration: none;
	width: 400px;
	margin: 0 auto;
	font-size: 30px;
	height: 50px;
	line-height: 50px;
	transition: background-color 0.5s ease;
	&:hover {
		background-color: $basic-color;
	}
}

@media screen and (max-width: 500px) {
	.button {
		font-size: 24px;
		height: 40px;
		line-height: 40px;
		width: 250px;
	}
}

@media screen and (max-width: 350px) {
	.button {
		font-size: 18px;
		height: 30px;
		line-height: 30px;
	}
}

.location {
	&__content {
		font-weight: 300;
		font-size: 120%;
	}
	&__map {
		width: 100%;
		text-align: center;
	}
}

.faq {
	&__question {
		font-weight: 700;
		margin-bottom: 5px;
		font-size: 120%;
	}
	&__answer {
		margin-bottom: 20px;
	}
}

.contacts {
	text-align: center;
	&__mail {
		padding-bottom: 10px;
		color: $basic-color;
		font-size:30px;
	}
}

.footer {
	background-color: $basic-color;
	display: block;
	width: 100%;
	height: 50px;
}

@import "info";
@import "mailchimp";
@import "main";
@import "menu";
@import "organizers";
@import "social";
@import "sponsors";
@import "subscribe";
@import "table";