      <header class="main-menu main-menu_transparent">
        <nav class="custom-dropdown" class="no-margin">
          <input type="checkbox" id="menu-button">
          <label for="menu-button"></label>
          <ul class="menu">
            <li class="menu__item hiding"><a href="#about">Про хакатон</a></li>
            <li class="menu__item hiding"><a href="#team">Команда</a></li>
            <li class="menu__item hiding"><a href="#sponsors">Спонсори</a></li>
            <li class="menu__item hiding"><a href="#location">Локація</a></li>
            <li class="menu__item hiding"><a href="http://dou.ua/" target="_blank">DOU</a></li>
            <li class="menu__item hiding"><a href="#contacts">Контакти</a></li>
          </ul>
        </nav>
      </header>
