    <meta property="og:title" content="DOU Хакатон Київ"/>
    <meta property="og:image" content="http://hack.dou.ua/i/DOU_Hackaton_revolution.png"/>
    <meta property="og:site_name" content="DOU Хакатон Київ 21-22.02.2015"/>
    <meta property="og:description" content='DOU Хакатон доволі відомий в межах України. Його мета - познайомитись з тими, хто "get things done", гарно провести час і вивчити щось нове, а можливо створити й корисний проект.'/>
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:site" content="@DOUHack" />
    <meta name="twitter:title" content="DOU Хакатон Київ 21-22.02.2015" />
    <meta name="twitter:description" content='DOU Хакатон доволі відомий в межах України. Його мета - познайомитись з тими, хто "get things done", гарно провести час і вивчити щось нове, а можливо створити й корисний проект.' />
    <meta name="twitter:image" content="http://hack.dou.ua/i/DOU_Hackaton_revolution.png" />
    <meta name="twitter:url" content="http://hack.dou.ua/" />
